<div
  *ngIf="isBlank(results) as blankResults"
  class="border rounded p-5 text-center text-secondary"
>
  {{ blankResults.blankMessage }}
</div>

<ng-container *ngIf="isRepoResults(results) as repoResults">
  <div
    *ngFor="let repo of repoResults.items"
    class="row mb-3 repo"
    [routerLink]="['/commits', repo.full_name]"
  >
    <div class="col-auto">
      <img [src]="repo.owner.avatar_url" class="avatar rounded-circle" />
    </div>
    <div class="col align-middle fs-5 text-break">
      {{ repo.full_name }}
    </div>
    <div class="col-2">{{ repo.created_at | date }}</div>
  </div>

  <div class="text-center text-secondary p-3">
    Total: {{ repoResults.total_count | number }}
  </div>
</ng-container>

<ng-container *ngIf="isIssuesResults(results) as issuesResults">
  <div
    *ngFor="let issue of issuesResults.items"
    class="row mb-3 issue"
    routerLink="/commits/{{ issue.repository_url | nameFromUrl : true }}"
  >
    <div class="col-12 align-middle fs-5 text-break">
      {{ issue.repository_url | nameFromUrl }}
    </div>
  </div>

  <div class="text-center text-secondary p-3">
    Total: {{ issuesResults.total_count | number }}
  </div>
</ng-container>
