<div *ngIf="isBlank(results) as blankResults">
  {{ blankResults.blankMessage }}
</div>

<ng-container *ngIf="isRepoResults(results) as repoResults">
  <a
    *ngFor="let repo of repoResults.items"
    [routerLink]="['/commits', repo.full_name]"
  >
    {{ repo.full_name }}
  </a>
</ng-container>

<ng-container *ngIf="isIssuesResults(results) as issuesResults">
  <a
    *ngFor="let issue of issuesResults.items"
    routerLink="/commits/{{ issue.repository_url | nameFromUrl : true }}"
  >
    {{ issue.repository_url | nameFromUrl }}
  </a>
</ng-container>
