<div
  *ngIf="isBlank(results) as blankResults"
  class="border rounded p-5 text-center text-secondary"
>
  {{ blankResults.blankMessage }}
</div>

<ng-container *ngIf="isRepoResults(results) as repoResults">
  <div *ngFor="let repo of repoResults.items" class="row mb-1">
    <div class="col-auto">
      <img [src]="repo.owner.avatar_url" class="avatar rounded-circle" />
    </div>
    <div class="col">
      <a class="align-middle" [routerLink]="['/commits', repo.full_name]">{{
        repo.full_name
      }}</a>
    </div>
    <div class="col-2">{{ repo.created_at | date }}</div>
  </div>
</ng-container>

<ng-container *ngIf="isIssuesResults(results) as issuesResults">
  <a
    *ngFor="let issue of issuesResults.items"
    routerLink="/commits/{{ issue.repository_url | nameFromUrl : true }}"
  >
    {{ issue.repository_url | nameFromUrl }}
  </a>
</ng-container>
